@mixin background-color-white {
	background-color: #ffffff;
}

@mixin background-color-grey {
	background-color: #efefef;
}

@mixin background-color-darkgrey {
	background-color: #e9eaea;
}

@mixin primary-background-color {
	background-color: #f4c430;
}

$primary-color: #f4c430;
$white-color: #ffffff;
$black-color: #000000;
$almostBlack-color: #1f1f25;
$smoke-color: #f3f3f3;
$dark-blue: #0b1a2f;
$orange-color: #ff8928;
$gold-color: #ffbf00;
