main {
	#home,
	#about,
	#projects,
	#skills,
	#resume,
	#contact {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&.section-padding {
			padding: 80px 0;
		}
	}

	#home {
		background-color: #858d9a;
		position: relativ;
	}
	#about {
		background-color: lightseagreen;
	}
	#projects {
		background-color: lightcoral;
	}
	#skills {
		background: #f6f6f6 none repeat scroll 0 0;
	}
	#resume {
		background-color: rgb(187, 66, 224);
	}
	#contact {
		background-color: lightsteelblue;
	}

	#scrollTop {
		position: fixed;
		bottom: 10px;
		right: 30px;
		z-index: 99;
		font-family: inherit;
		font-size: 2rem;
		border: none;
		background: none;
		cursor: pointer;

		a {
			text-decoration: none;
			color: black;
		}
	}
}

@media screen and (max-width: 450px) {
	main {
		#about,
		#projects,
		#skills,
		#resume,
		#contact {
			height: fit-content;
		}
	}
}
