@import '../../assets/scss/navbar-hovereffect.scss';
@import '../../assets/scss/color.scss';

#footer {
	padding: 40px 5% 40px 5%;
	color: $black-color;
	display: flex;
	flex-direction: column;
	align-items: center;

	#connect a {
		color: $gold-color;
		margin-bottom: 11px;
	}

	p {
		margin: 50px 0 50px;
	}

	h2 {
		color: $gold-color;
		font-size: 50px;
	}

	i {
		font-size: 90px;

		&:hover {
			color: $gold-color;
			cursor: pointer;
			transform: scale(1.1);
		}
	}

	#nav-footer {
		display: inline-block;
		flex-direction: row;
		padding-right: 9px;

		ul li {
			display: inline-block;
			flex-direction: row;
			padding-right: 9px;

			@include navbar-hover-effect;
		}

		.nav-link:hover {
			color: $smoke-color;
		}
	}

	#nav-footer-bottom {
		margin-top: 30px;
	}

	.social_links ul li {
		padding-right: 15px;

		img {
			width: 30px;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 150px;
	}

	.sub-footer {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: auto;
		min-height: 70px;
		padding: 15px;
	}
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	#footer h2 {
		text-align: center;
	}
}

@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (-webkit-min-device-pixel-ratio: 2) {
	#footer h2 {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	#footer h2 {
		text-align: center;
	}
}
