@import '../../assets/scss/navbar-hovereffect.scss';
@import '../../assets/scss/color.scss';

.navbar {
	padding: 1.5rem 1rem;

	&.navbar-light {
		.navbar-nav .nav-link {
			font-size: 16px;
			font-weight: 700;
			color: $primary-color;
			position: relative;
			font-family: Raleway, sans-serif;
			padding: 5px;
			transition: all 0.15s ease-in-out 0s;
			z-index: 2;

			@include navbar-hover-effect;
		}

		.navbar-toggler,
		.navbar-nav .active > .nav-link,
		.navbar-brand {
			color: $white-color;
			z-index: 4;
		}

		.navbar-brand {
			margin-right: 5rem;
		}
	}
}

.social_links {
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem 1rem;
	z-index: 2;

	ul li {
		display: inline-block;
		flex-direction: row;
		padding-right: 9px;

		img {
			width: 35px;
			height: auto;
			cursor: pointer;

			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.home-content {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .navbar-collapse {
		background-color: $primary-color;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
		margin-top: 27px;
		text-align: center;
		max-height: 400px;
		z-index: 2;
		margin-right: -16px;
		margin-left: -16px;
	}

	.copy-right,
	.social_links .ml-auto.text-right ul {
		text-align: center;
	}
}
