@import '../../assets/scss/color.scss';
@import '../../assets/scss/mixin.scss';

.card-box {
	margin-bottom: 30px;
	padding: 50px 25px;
	-webkit-transition: all 0.36s ease-in-out 0s;
	transition: all 0.36s ease-in-out 0s;
	display: block;
	height: 350px;

	&:hover {
		color: $smoke-color;
		@include boxshadow;
		@include gradient;
		cursor: pointer;
	}

	.icon-strategy {
		width: 52px;
	}
}

@media only screen and (max-width: 767px) {
	.card-box {
		height: auto;
	}
}
