@import '../../assets/scss/color.scss';
@import '../../assets/scss/mixin.scss';

.timeline {
	height: auto;
	margin: 40px auto 0;
	padding: 0 0 80px;
	position: relative;
	width: 100%;

	.title {
		background: none repeat scroll 0 0 $smoke-color;
		border: 3px solid $almostBlack-color;
		border-radius: 6px;
		clear: both;
		color: $gold-color;
		font-size: 18px;
		font-weight: 900;
		height: 65px;
		margin: 31px auto;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 150px;
	}

	.note-bg {
		background: none repeat scroll 0 0 $smoke-color;
		border-radius: 12px;
		cursor: pointer;
		padding: 20px;
		width: 100%;

		&:hover {
			@include gradient;
		}

		&:hover h5 {
			color: $almostBlack-color;
		}

		&:hover h4 {
			color: $almostBlack-color;
		}

		&:hover p {
			color: $almostBlack-color;
		}

		&:hover:after {
			background: none repeat scroll 0 0 #474d5d;
			border: 2px solid #666666;
		}

		&:hover .arrow {
			color: #fff;
		}
	}

	.note {
		float: left;
		margin: 10px 0;
		position: relative;
		transition: all 0.5s ease 0s;
		z-index: 550;

		p {
			color: $black-color;
		}

		h4 {
			color: $gold-color;
			font-size: 19px;
			font-weight: 900;
			margin: 5px 0;
			text-transform: uppercase;
			margin-bottom: 1em;
		}

		h5 {
			color: $almostBlack-color;
			font-size: 16px;
			font-weight: 900;
			margin-bottom: 9px;
		}

		.date {
			color: $gold-color;
		}

		.arrow {
			color: rgba(242, 242, 242, 0.1);
			font-size: 12px;
			left: auto;
			position: absolute;
			right: 5.5%;
			top: 20px;
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
			transition: all 0.5s ease 0s;
		}

		&:nth-of-type(2n) {
			margin: -20px 0 30px 0;
		}

		&:nth-of-type(2n):after {
			left: -4.8%;
		}

		&:nth-of-type(2n) .arrow {
			left: 1.4%;
			right: auto;
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		&:hover:after {
			background: none repeat scroll 0 0 $gold-color;
			border: 2px solid $almostBlack-color;
		}

		&:after {
			background: none repeat scroll 0 0 $smoke-color;
			border: 2px solid $almostBlack-color;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			content: '';
			display: block;
			height: 18px;
			position: absolute;
			right: -0.8%;
			top: 18px;
			width: 18px;
			z-index: 20;
		}
	}
}

@media only screen and (max-width: 767px) {
	.timeline {
		padding-bottom: 0px;

		.note-bg {
			width: 100%;
		}
	}
}
