@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.homepage {
	color: #ffffff;

	.home-content {
		height: 100%;
		position: absolute;
		width: 100%;
		text-align: center;

		.text-center {
			vertical-align: middle;
			display: table-cell;
			min-width: 300px;
		}
	}

	.header {
		padding: 20px;
		max-width: 850px;
		margin-left: auto;
		margin-right: auto;
		color: #ffffff;

		.heading h2 {
			font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
			display: block;
			font-size: 80px;
			font-weight: 700;
			text-transform: uppercase;
			width: 100%;
			letter-spacing: 1px;
		}

		.box-heading p {
			font-family: 'Oswald', helvetica, arial, sans-serif;
			background: rgba(255, 255, 149, 0.8);
			display: inline-block;
			margin: 0 auto 30px;
			font-weight: 400;
			font-size: 22px;
			padding: 0 15px;
			color: #000;
		}
	}

	.social_links {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding-top: 50px;
		width: 100%;

		ul li {
			display: inline-block;
			flex-direction: row;
			padding-right: 9px;

			img {
				width: 50px;
				height: auto;
				cursor: pointer;

				&:hover {
					cursor: pointer;
					transform: scale(1.1);
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.homepage .header .heading h2 {
		font-size: 52px;
		padding: 5px 15px;
	}

	.homepage .header .box-heading p {
		font-size: 18px;
		padding: 5px 15px;
		letter-spacing: 1px;
	}
}
