@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;0,900;1,800;1,900&display=swap');
@import '../../assets/scss/color.scss';

#home-header {
	height: 100vh;
	display: flex;
	align-items: center;

	&.header-contianer {
		max-width: 960px;
		padding-right: 1rem;
		padding-left: 1rem;
		margin: auto;
		text-align: center;

		.fullscreen-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.hero {
				min-height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--primaryHeroColor);
			}
		}
	}
}

.header-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: teal;
	z-index: 1;
	opacity: 0.85;
}

.home-content {
	margin: auto;
	z-index: 2;

	.header {
		padding: 20px;
		max-width: 850px;
		color: $white-color;

		.theme-gradient {
			background: rgb(244, 196, 48);
			background: linear-gradient(
				90deg,
				rgba(244, 196, 48, 1) 0%,
				rgba(255, 126, 0, 1) 100%
			);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c430', endColorstr='#ff7e00',GradientType=1 );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			display: inline-block;
		}

		.heading h2 {
			display: block;
			font-size: 80px;
			font-weight: 700;
			text-transform: uppercase;
			width: 100%;
			letter-spacing: 1px;
		}

		.box-bg {
			display: flex;
			margin-top: 50px;

			a {
				background: none;
				display: inline-block;
				margin: 0 auto;
				font-weight: 400;
				font-size: 22px;
				padding: 15px;
				color: $smoke-color;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.homepage .header .heading h2 {
		font-size: 52px;
		padding: 5px 15px;
	}

	.homepage .header .box-heading p {
		font-size: 18px;
		padding: 5px 15px;
		letter-spacing: 1px;
	}
}
